<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ApiToken" value="922e0e4f0ce0332f257b7ffea8c65ca5" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ServiceBaseUri" value ="https://mydev/products/api/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>