<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.6.2" targetFramework="net452" />
  <package id="Autofac.Mvc5" version="4.0.2" targetFramework="net452" />
  <package id="Autofac.Owin" version="4.2.0" targetFramework="net452" />
  <package id="Autofac.WebApi2" version="4.1.0" targetFramework="net452" />
  <package id="Autofac.WebApi2.Owin" version="4.0.0" targetFramework="net452" />
  <package id="Castle.Core" version="4.2.0" targetFramework="net452" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="FluentAssertions" version="4.19.4" targetFramework="net452" />
  <package id="FluentValidation" version="7.4.0" targetFramework="net452" />
  <package id="JetBrains.Annotations" version="11.1.0" targetFramework="net452" />
  <package id="LinqKit.EntityFramework" version="1.1.15" targetFramework="net452" />
  <package id="Microsoft.AspNet.Cors" version="5.2.4" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.4" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.4" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.4" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.4" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.4" targetFramework="net452" />
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Cors" version="3.1.0" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="NewId" version="3.0.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net452" />
  <package id="Newtonsoft.Json.Bson" version="1.0.1" targetFramework="net452" />
  <package id="Newtonsoft.Json.Schema" version="3.0.10" targetFramework="net452" />
  <package id="NJsonSchema" version="9.12.0" targetFramework="net452" />
  <package id="NSubstitute" version="3.1.0" targetFramework="net452" />
  <package id="NUnit" version="3.4.1" targetFramework="net452" />
  <package id="NUnit.Console" version="3.4.1" targetFramework="net452" />
  <package id="NUnit.ConsoleRunner" version="3.4.1" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.4.1" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.4.1" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.4.1" targetFramework="net452" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.1" targetFramework="net452" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.4.1" targetFramework="net452" />
  <package id="NUnit3TestAdapter" version="3.10.0" targetFramework="net452" />
  <package id="NUnitTestAdapter" version="2.1.1" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="rps" version="1.2.2" targetFramework="net452" />
  <package id="rps.data" version="1.4.0" targetFramework="net452" />
  <package id="rps.unittests" version="1.0.2" targetFramework="net452" />
  <package id="rps.web" version="1.5.0" targetFramework="net452" />
  <package id="SemanticVersioning" version="1.2.0" targetFramework="net452" />
  <package id="Serilog" version="2.5.0" targetFramework="net452" />
  <package id="Serilog.Sinks.EventLog" version="3.0.47" targetFramework="net452" />
  <package id="Serilog.Sinks.MSSqlServer" version="5.1.0" targetFramework="net452" />
  <package id="Serilog.Sinks.PeriodicBatching" version="2.1.1" targetFramework="net452" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net452" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net452" />
  <package id="System.Threading" version="4.3.0" targetFramework="net452" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net452" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.3.1" targetFramework="net452" />
  <package id="Thinktecture.IdentityModel.Core" version="1.4.0" targetFramework="net452" />
  <package id="Thinktecture.IdentityModel.Owin.ResourceAuthorization" version="1.1.0" targetFramework="net452" />
  <package id="Thinktecture.IdentityModel.Owin.ResourceAuthorization.WebApi" version="3.0.0" targetFramework="net452" />
</packages>